@import "_variables.scss";

.menu-wrapper {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0 !important;

  &>div:first-child {
    background-color: var(--third-bg);
    color: var(--main-inverse-text);
    font-weight: bold;
    padding: 5px;
  }
}

//TEXT ITEM
.menu-wrapper>.text-item {
  padding: 5px;
}
.menu-wrapper>.text-item:not(:first-child) {
  svg, & {
    color: var(--main-bg);
  }
  svg {
    font-size: 1.5em;
    margin-right: 15px;
  }
  &:hover, &.active {
    background-color: var(--main-bg);
    svg, & {
      color: var(--main-bg-text);
    }
  }
  &.hover {
    cursor: pointer;
  }
}
//

//INPUT ITEM
.menu-wrapper>.input-item {
  padding: 10px;
  margin: 0 !important;
}
//

//INPUT DROPDOWN ITEM
.menu-wrapper>.input-dropdown-item {
  padding: 10px;
  margin: 0 !important;
  overflow: hidden;
  &>.select2 {
    width: 100% !important;
    outline: none !important;
  }
  .select2-selection--single {
    border: 2px solid #bbc2c5 !important;
    &:focus, &[aria-expanded=true]  {
      border: 2px solid var(--main-inverse-bg) !important;
    }
    border-radius: 0 !important;
    height: 42px !important;
    .select2-selection__rendered{
      line-height: 42px;
      color: var(--main-bg) !important;
      .select2-selection__placeholder {
        color: #bdc3c7 !important;
      }
    }
    .select2-selection__arrow {
      height: 42px;
    }
  }
}
.select2-selection.select2-selection--single:focus {
  outline: none !important;
}
.select2-results__option--highlighted[aria-selected] {
  background-color: var(--main-inverse-bg) !important;
}
//

//Loader Item
.input-loader-item {
  &>span:first-child {
    margin: 0 auto;
  }
  padding: 10px;
}
//