@import "_variables.scss";

$maxOpacity: 1;

@keyframes showDimmer {
  from {
    opacity: 0;
  }
  to {
    opacity: $maxOpacity;
  }
}

.dimmer {
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: absolute;
  opacity: $maxOpacity;
  padding: 0;
  margin: 0;
  background-color: var(--third-bg);
  animation: showDimmer .3s ease-in-out;
  left: 0;
  top: 0;
}

.dimmer-hidden {
  display: none;
}