@import "_variables.scss";

.dict_word-box {
  label.checkbox {
    margin-bottom: 15px !important;
  }
  li {
    padding: 5px 0 !important;
    margin-top: 5px !important;
  }

  .first {
    padding-top: 5px;
  }
}

.checkbox input[type=checkbox].custom-checkbox:checked+.icons .icon-checked {
  color: var(--third-bg) !important;
}

.dict_word-wrapper {
  font-size: 0.9em;

  .dict_sep {
    margin: 0 10px;
    letter-spacing: -2px;
  }
}

.dict_box-left-block {
  svg {
    color: var(--third-bg) !important;
  }

  .trash {
    button {
      background: transparent !important;
      &:hover {
        svg {
          color: #e85858 !important;
        }
      }
    }
  }
}

.dict_word-panel {
  background-color: #92c9de2b !important;
  .add-button {
    background-color: #5f97c7 !important;
    &:hover {
      background-color: #5f8fab !important;
    }
  }
  .icon-unchecked {
    color: #95a3a9 !important;
  }
  .icon-checked {
    color: var(--main-bg) !important;
  }

  label.checkbox {
    padding-left: 25px !important;
  }
}