@import "_variables.scss";

#error404-wrapper {
  background-color: var(--main-bg);
  height: 100%;
  width: 100%;
}

#error404-middle-wrapper {
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0;
  }
}

.error404-heading {
  text-align: center;
}

.error404-heading1 {
  color: var(--main-bg-text);
  font-size: 14em;
  margin-bottom: -100px;
}

.error404-heading2 {
  color: var(--main-bg-text);
  font-size: 5em;
  margin-bottom: -30px;
  margin-top: -30px;
}

.error404-heading3 {
  color: var(--main-bg-text);
  font-size: 1.5em;
}

#error404-button {
  width: 100%;
  background-color: #fff;
  color: var(--main-bg);
  z-index: 15;

  &:hover {
    background-color: var(--main-inverse-bg);
    color: var(--main-inverse-text);
  }
}

#error-cloud1 {
  height: 200px;
  left: 300px;
  position: absolute;
  top: 150px;
  opacity: 0.7;
}

#error-cloud2 {
  height: 100px;
  right: 400px;
  position: absolute;
  top: 80px;
}

#error-cloud3 {
  height: 150px;
  left: 600px;
  opacity: .9;
  position: absolute;
  top: 530px;
  z-index: 10;
}