.dimmer-container {
  position: relative;
  height: 100%;
}

.dimmerLoader {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dimmerLoader > div {
  width: 20%;
  height: 20%;
  z-index: 1001;
}

.dimmerLoader > div > div {
  width: 100%;
  height: 100%;
  svg {
    width: 100% !important;
    height: 100% !important;
  }
}