@import "_variables.scss";

.dict-card-wrapper {
  margin-top: -15px;
  width: 216px;
  min-width: 216px;
  height: 250px;
  min-height: 250px;
  overflow: hidden;
}

.dict-card {
  margin: 15px;
  border-radius: 0 !important;
  height: inherit;
  width: inherit;

  .dict-default-image, .flag-icon-background {
    width: 200px !important;
    height: 148px !important;
    background-size: 200px 180px;
    background: url("/images/dictNotFoundImage.png") no-repeat center;
  }
  .card-title {
    margin: 0;
  }
  .card-lang {
    font-size: 0.8em;
  }
  &:hover {
    cursor: pointer;
    .dict-card-panel {
      height: auto;
      opacity: 1;
    }
    .card-title {
      opacity: 0;
    }
    .card-lang {
      opacity: 0;
    }
  }
  div {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: var(--main-bg);
  }
  .dict-card-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    height: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    span {
      color: #727679;
      display: block;
    }
  }
  a {
    border: none !important;
    border-radius: 0;
    background-color: var(--main-inverse-bg) !important;
  }
}